## 1. Extraer información de las alumnas:

In [2]:
import requests

In [5]:
url = "https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json"

In [7]:
url

'https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json'

In [8]:
res = requests.get(url)

In [9]:
res.status_code

200

In [10]:
res.content

b'{\n    "info": {\n        "count": 20,\n        "pages": 1,\n        "currentPage": 1,\n        "next": null,\n        "prev": null\n    },\n    "results": [\n        {\n            "num_expediente": 1001,\n            "nombre": "Ana",\n            "apellidos": "Mart\xc3\xadnez",\n            "fecha_nacimiento": "2005-03-15"\n        },\n        {\n            "num_expediente": 1002,\n            "nombre": "Luis",\n            "apellidos": "Fern\xc3\xa1ndez",\n            "fecha_nacimiento": "2004-11-22"\n        },\n        {\n            "num_expediente": 1003,\n            "nombre": "Clara",\n            "apellidos": "Ruiz",\n            "fecha_nacimiento": "2006-01-10"\n        },\n        {\n            "num_expediente": 1004,\n            "nombre": "Pedro",\n            "apellidos": "S\xc3\xa1nchez",\n            "fecha_nacimiento": "2005-07-08"\n        },\n        {\n            "num_expediente": 1005,\n            "nombre": "Luc\xc3\xada",\n            "apellidos": "Torres",\n            "fecha_nacimiento": "2004-09-18"\n        },\n        {\n            "num_expediente": 1006,\n            "nombre": "Javier",\n            "apellidos": "Gonz\xc3\xa1lez",\n            "fecha_nacimiento": "2006-06-24"\n        },\n        {\n            "num_expediente": 1007,\n            "nombre": "Mar\xc3\xada",\n            "apellidos": "L\xc3\xb3pez",\n            "fecha_nacimiento": "2005-04-10"\n        },\n        {\n            "num_expediente": 1008,\n            "nombre": "David",\n            "apellidos": "P\xc3\xa9rez",\n            "fecha_nacimiento": "2004-12-12"\n        },\n        {\n            "num_expediente": 1009,\n            "nombre": "Sara",\n            "apellidos": "Garc\xc3\xada",\n            "fecha_nacimiento": "2005-08-15"\n        },\n        {\n            "num_expediente": 1010,\n            "nombre": "Ricardo",\n            "apellidos": "Mart\xc3\xadn",\n            "fecha_nacimiento": "2006-03-22"\n        },\n        {\n            "num_expediente": 1011,\n            "nombre": "Alba",\n            "apellidos": "V\xc3\xa1zquez",\n            "fecha_nacimiento": "2004-05-05"\n        },\n        {\n            "num_expediente": 1012,\n            "nombre": "Carlos",\n            "apellidos": "Serrano",\n            "fecha_nacimiento": "2005-02-28"\n        },\n        {\n            "num_expediente": 1013,\n            "nombre": "Elena",\n            "apellidos": "Ram\xc3\xadrez",\n            "fecha_nacimiento": "2006-08-01"\n        },\n        {\n            "num_expediente": 1014,\n            "nombre": "Iv\xc3\xa1n",\n            "apellidos": "Hern\xc3\xa1ndez",\n            "fecha_nacimiento": "2005-10-30"\n        },\n        {\n            "num_expediente": 1015,\n            "nombre": "Laura",\n            "apellidos": "Jim\xc3\xa9nez",\n            "fecha_nacimiento": "2004-07-14"\n        },\n        {\n            "num_expediente": 1016,\n            "nombre": "Tom\xc3\xa1s",\n            "apellidos": "L\xc3\xb3pez",\n            "fecha_nacimiento": "2005-12-18"\n        },\n        {\n            "num_expediente": 1017,\n            "nombre": "Paula",\n            "apellidos": "Fern\xc3\xa1ndez",\n            "fecha_nacimiento": "2006-02-06"\n        },\n        {\n            "num_expediente": 1018,\n            "nombre": "Mario",\n            "apellidos": "D\xc3\xadaz",\n            "fecha_nacimiento": "2004-11-30"\n        },\n        {\n            "num_expediente": 1019,\n            "nombre": "Raquel",\n            "apellidos": "Gonz\xc3\xa1lez",\n            "fecha_nacimiento": "2005-09-23"\n        },\n        {\n            "num_expediente": 1020,\n            "nombre": "Jorge",\n            "apellidos": "\xc3\x81lvarez",\n            "fecha_nacimiento": "2006-05-17"\n        }\n    ]\n}'

In [12]:
res.json()

{'info': {'count': 20,
  'pages': 1,
  'currentPage': 1,
  'next': None,
  'prev': None},
 'results': [{'num_expediente': 1001,
   'nombre': 'Ana',
   'apellidos': 'Martínez',
   'fecha_nacimiento': '2005-03-15'},
  {'num_expediente': 1002,
   'nombre': 'Luis',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2004-11-22'},
  {'num_expediente': 1003,
   'nombre': 'Clara',
   'apellidos': 'Ruiz',
   'fecha_nacimiento': '2006-01-10'},
  {'num_expediente': 1004,
   'nombre': 'Pedro',
   'apellidos': 'Sánchez',
   'fecha_nacimiento': '2005-07-08'},
  {'num_expediente': 1005,
   'nombre': 'Lucía',
   'apellidos': 'Torres',
   'fecha_nacimiento': '2004-09-18'},
  {'num_expediente': 1006,
   'nombre': 'Javier',
   'apellidos': 'González',
   'fecha_nacimiento': '2006-06-24'},
  {'num_expediente': 1007,
   'nombre': 'María',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-04-10'},
  {'num_expediente': 1008,
   'nombre': 'David',
   'apellidos': 'Pérez',
   'fecha_nacimiento': '2004-12-12'},
  {'num_expediente': 1009,
   'nombre': 'Sara',
   'apellidos': 'García',
   'fecha_nacimiento': '2005-08-15'},
  {'num_expediente': 1010,
   'nombre': 'Ricardo',
   'apellidos': 'Martín',
   'fecha_nacimiento': '2006-03-22'},
  {'num_expediente': 1011,
   'nombre': 'Alba',
   'apellidos': 'Vázquez',
   'fecha_nacimiento': '2004-05-05'},
  {'num_expediente': 1012,
   'nombre': 'Carlos',
   'apellidos': 'Serrano',
   'fecha_nacimiento': '2005-02-28'},
  {'num_expediente': 1013,
   'nombre': 'Elena',
   'apellidos': 'Ramírez',
   'fecha_nacimiento': '2006-08-01'},
  {'num_expediente': 1014,
   'nombre': 'Iván',
   'apellidos': 'Hernández',
   'fecha_nacimiento': '2005-10-30'},
  {'num_expediente': 1015,
   'nombre': 'Laura',
   'apellidos': 'Jiménez',
   'fecha_nacimiento': '2004-07-14'},
  {'num_expediente': 1016,
   'nombre': 'Tomás',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-12-18'},
  {'num_expediente': 1017,
   'nombre': 'Paula',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2006-02-06'},
  {'num_expediente': 1018,
   'nombre': 'Mario',
   'apellidos': 'Díaz',
   'fecha_nacimiento': '2004-11-30'},
  {'num_expediente': 1019,
   'nombre': 'Raquel',
   'apellidos': 'González',
   'fecha_nacimiento': '2005-09-23'},
  {'num_expediente': 1020,
   'nombre': 'Jorge',
   'apellidos': 'Álvarez',
   'fecha_nacimiento': '2006-05-17'}]}

In [13]:
type(res.json())

dict

In [14]:
len(res.json())

2

In [16]:
datos = res.json()

In [20]:
type(datos)

dict

In [21]:
len(datos)

2

In [30]:
datos.keys()

dict_keys(['info', 'results'])

In [22]:
datos.get("results",0)

[{'num_expediente': 1001,
  'nombre': 'Ana',
  'apellidos': 'Martínez',
  'fecha_nacimiento': '2005-03-15'},
 {'num_expediente': 1002,
  'nombre': 'Luis',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2004-11-22'},
 {'num_expediente': 1003,
  'nombre': 'Clara',
  'apellidos': 'Ruiz',
  'fecha_nacimiento': '2006-01-10'},
 {'num_expediente': 1004,
  'nombre': 'Pedro',
  'apellidos': 'Sánchez',
  'fecha_nacimiento': '2005-07-08'},
 {'num_expediente': 1005,
  'nombre': 'Lucía',
  'apellidos': 'Torres',
  'fecha_nacimiento': '2004-09-18'},
 {'num_expediente': 1006,
  'nombre': 'Javier',
  'apellidos': 'González',
  'fecha_nacimiento': '2006-06-24'},
 {'num_expediente': 1007,
  'nombre': 'María',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-04-10'},
 {'num_expediente': 1008,
  'nombre': 'David',
  'apellidos': 'Pérez',
  'fecha_nacimiento': '2004-12-12'},
 {'num_expediente': 1009,
  'nombre': 'Sara',
  'apellidos': 'García',
  'fecha_nacimiento': '2005-08-15'},
 {'num_expediente': 1010,
  'nombre': 'Ricardo',
  'apellidos': 'Martín',
  'fecha_nacimiento': '2006-03-22'},
 {'num_expediente': 1011,
  'nombre': 'Alba',
  'apellidos': 'Vázquez',
  'fecha_nacimiento': '2004-05-05'},
 {'num_expediente': 1012,
  'nombre': 'Carlos',
  'apellidos': 'Serrano',
  'fecha_nacimiento': '2005-02-28'},
 {'num_expediente': 1013,
  'nombre': 'Elena',
  'apellidos': 'Ramírez',
  'fecha_nacimiento': '2006-08-01'},
 {'num_expediente': 1014,
  'nombre': 'Iván',
  'apellidos': 'Hernández',
  'fecha_nacimiento': '2005-10-30'},
 {'num_expediente': 1015,
  'nombre': 'Laura',
  'apellidos': 'Jiménez',
  'fecha_nacimiento': '2004-07-14'},
 {'num_expediente': 1016,
  'nombre': 'Tomás',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-12-18'},
 {'num_expediente': 1017,
  'nombre': 'Paula',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2006-02-06'},
 {'num_expediente': 1018,
  'nombre': 'Mario',
  'apellidos': 'Díaz',
  'fecha_nacimiento': '2004-11-30'},
 {'num_expediente': 1019,
  'nombre': 'Raquel',
  'apellidos': 'González',
  'fecha_nacimiento': '2005-09-23'},
 {'num_expediente': 1020,
  'nombre': 'Jorge',
  'apellidos': 'Álvarez',
  'fecha_nacimiento': '2006-05-17'}]

In [23]:
results = datos.get("results",0)

In [24]:
type(results)

list

In [38]:
results_ext = []

for alumna in results:
   alumna1 = (alumna["num_expediente"], alumna["nombre"], alumna["apellidos"])
   results_ext.append(alumna1)

In [39]:
results_ext

[(1001, 'Ana', 'Martínez'),
 (1002, 'Luis', 'Fernández'),
 (1003, 'Clara', 'Ruiz'),
 (1004, 'Pedro', 'Sánchez'),
 (1005, 'Lucía', 'Torres'),
 (1006, 'Javier', 'González'),
 (1007, 'María', 'López'),
 (1008, 'David', 'Pérez'),
 (1009, 'Sara', 'García'),
 (1010, 'Ricardo', 'Martín'),
 (1011, 'Alba', 'Vázquez'),
 (1012, 'Carlos', 'Serrano'),
 (1013, 'Elena', 'Ramírez'),
 (1014, 'Iván', 'Hernández'),
 (1015, 'Laura', 'Jiménez'),
 (1016, 'Tomás', 'López'),
 (1017, 'Paula', 'Fernández'),
 (1018, 'Mario', 'Díaz'),
 (1019, 'Raquel', 'González'),
 (1020, 'Jorge', 'Álvarez')]

In [41]:
import pandas

In [62]:
df = pandas.DataFrame(results_ext)  
df

       0        1          2
0   1001      Ana   Martínez
1   1002     Luis  Fernández
2   1003    Clara       Ruiz
3   1004    Pedro    Sánchez
4   1005    Lucía     Torres
5   1006   Javier   González
6   1007    María      López
7   1008    David      Pérez
8   1009     Sara     García
9   1010  Ricardo     Martín
10  1011     Alba    Vázquez
11  1012   Carlos    Serrano
12  1013    Elena    Ramírez
13  1014     Iván  Hernández
14  1015    Laura    Jiménez
15  1016    Tomás      López
16  1017    Paula  Fernández
17  1018    Mario       Díaz
18  1019   Raquel   González
19  1020    Jorge    Álvarez

Enunciado - Obtener datos energéticos usando la API de Red Eléctrica.

Descripción: La empresa para la que trabajamos dispone de una base de datos que contiene información sobre el número de personas censadas en las distintas Comunidades Autónomas españolas desde 1998 hasta 2022. El objetivo es enriquecer estos datos con información sobre la generación de energía renovable y no renovable, utilizando la API de REData, la cual proporciona información sobre el mercado energético en España. Puedes encontrar la documentación de la API aquí.

In [66]:
url_2 = "https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2011-01-01T00:00:00&end_date=2011-12-31T00:00:00"

In [67]:
res_2 = requests.get(url_2)

In [68]:
res_2.status_code

500

In [70]:
url_3 = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=month"

In [71]:
requests.get(url_3)