In [1]:
import pandas as pd

In [4]:
df_videogames = pd.read_csv("ejercicios_pair_modulo_02/archivos_csv/videogames.csv", index_col = 0)

In [6]:
df_videogames.head(2)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False

In [7]:
df_videogames.to_excel("ejercicios_pair_modulo_02/archivos_csv/videogames.xlsx")

In [10]:
df_excel = pd.read_excel("ejercicios_pair_modulo_02/archivos_csv/videogames.xlsx", index_col = 0)

In [11]:
df_excel.head(3)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False

In [12]:
df_excel.to_csv("ejercicios_pair_modulo_02/files/videogames.csv")

In [16]:
import json

In [17]:
with open ("ejercicios_pair_modulo_02/files/personal.json", "r") as f:
    personal = json.load(f)

In [18]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}